*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
compile
depcomp
install-sh
missing
test-driver
test-suite.log
tests/.dirstamp
tests/imgsrc*.pbm
tests/imgsrc*.pgm
tests/imgsrc*.ppm
tests/prologue.sh
tests/results*
tests/runtest*.sh.log
tests/runtest*.sh.trs
unpaper
unpaper.1
