# SPDX-FileCopyrightText: 2005 The unpaper authors
#
# SPDX-License-Identifier: MIT

Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@flameeyes.eu>
Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@gmail.com>
